.agenda {
}

.agenda-slide h1 {
  size: 0em;
  display: none;
}

.active {
  outline: solid 5px #000;
  outline-offset: 0.2rem;
  font-weight: bold;
}

.inactive {
  /* outline: dashed 5px #000;
  outline-offset: 0.2rem; */
}

.pre-active {
  /* color: #b22222; */
}

.post-active {
  /* color: #2222b2; */
}
